{% extends 'base.html.twig' %}

{% block title %}Index Page of Numbers{% endblock %}

{% block body %}
<h1>Hello World!</h1>

<div>Random Number: {{ number }}</div>

{% if number > 50 %}
<p>Thats a high number</p>
{% endif %}
{% endblock %}